<template>
  <footer class="footer">
    <ul class="nav">
      <li v-for="item in links" :key="item.label" class="nav-item">
        <a :href="item.path" @click="ctaClick" class="nav-link">{{item.label}}</a>
      </li>
    </ul>
    <p class="copyright">&copy; {{ copyright }}</p>
  </footer>
</template>

<script>
import { eventSvc } from '../system/eventSvc'
import { cfg, footerPopup } from '../store/app.cfg'

export default {
  data() {
    return {
      links: cfg.footer.links,
      copyright: cfg.footer.copyright,
    }
  },
  methods: {
    ctaClick(e) {
      e.preventDefault()
      //console.log("show modal");
      eventSvc.$emit('showPopup', footerPopup)
    },
  },
}
</script>

<style lang="scss">
@import '../scss/footer';
</style>
