<template>
  <section class="gallery">
    <!-- we need to fit image into container
    <figure
      class="gallery-item">
    -->
    <img
      v-for="item in houses"
      :src="item.img"
      :alt="item.label"
      class="gallery-img"
      :key="item.img"
    >

    <!--
    </figure>
    -->
  </section>
</template>

<script>
import { cfg } from '../store/app.cfg'
export default {
  data() {
    return cfg.gallery
  },
}
</script>

<style lang="scss">
@import '../scss/gallery';
</style>
