<template>
  <header class="header">
    <img :src="logo.src" :alt="logo.label" class="header-logo">
    <h3 class="h-3">{{ title }}</h3>
    <h1 class="h-1">{{ callout }}</h1>
    <button class="btn header-button" @click="showModal">View our properties</button>
    <div class="header-seenon-text">{{seenon.title}}</div>
    <div class="header-seenon-logos">
      <img v-for="logo in seenon.logos" :src="logo.src" alt :key="logo.src">
    </div>
  </header>
</template>

<script>
import { eventSvc } from '../system/eventSvc'
import { cfg, headerPopup } from '../store/app.cfg'
export default {
  data() {
    return cfg.header
  },
  methods: {
    showModal() {
      //console.log("show modal");
      eventSvc.$emit('showPopup', headerPopup)
    },
  },
}
</script>

<style lang="scss">
@import '../scss/header';
</style>
