<template>
  <div class="sidebar">
    <!-- Sidebar -->
    <button class="nav-btn" @click="showModal">
      <!--needs char value to be shown -->
      <span class="nav-btn-line">&nbsp;</span>
      <span class="nav-btn-line">&nbsp;</span>
      <span class="nav-btn-line">&nbsp;</span>
    </button>
  </div>
</template>

<script>
import { eventSvc } from '../system/eventSvc'
import { sidebarPopup } from '../store/app.cfg'
export default {
  methods: {
    showModal() {
      //console.log("show modal");
      eventSvc.$emit('showPopup', sidebarPopup)
    },
  },
}
</script>

<style lang="scss">
@import '../scss/sidebar';
</style>
