<template>
  <div class="story-content">
    <h3 class="h-3 mb-md">{{ title }}</h3>
    <h2 class="h-2 mb-sm" v-html="statement"></h2>
    <p class="story-text">{{ text }}</p>
    <button class="btn" @click="ctaClick">{{cta.label}}</button>
  </div>
</template>

<script>
import { eventSvc } from '../system/eventSvc'
import { cfg, ctaPopup } from '../store/app.cfg'
export default {
  data() {
    return {
      title: cfg.story.title,
      statement: cfg.story.statement,
      text: cfg.story.text,
      cta: cfg.story.cta,
    }
  },
  methods: {
    ctaClick() {
      //console.log("show modal");
      eventSvc.$emit('showPopup', ctaPopup)
    },
  },
}
</script>

<style lang="scss">
@import '../scss/story';
</style>
